html {
    color: #A8A8A8;
    font-size: 1em;
    line-height: 1.4;
}

::selection {
    background: #404040;
    text-shadow: none;
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

body {
    background-color: #1F1F1F;
}

a {
    color: inherit;
    text-decoration: none;
    outline: 0;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.wrapper {
    margin: 0 auto;
    width: 750px;
    height: 100%;
}

.content {
    color: #A8A8A8;
    margin-top: 10px;
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 16px;
    background-color: #222222;
    padding: 0 25px 1px 25px;
}

.content div{
    clear: both;
}

.line-number {
    color: #839496;
    display: block;
    float: left;
    clear: both;
    width: 25px;
    text-align: right;
    margin-right: 15px;
    background-color: #1F1F1F;
    padding-right: 10px;
}

.comment {
    color: #75715e;
}

.operator {
    color: #f92672;
}

.string {
    color: #5D90CD;
}

.number {
    color: #be84ff;
}

.function {
    color: #5AD9EF;
}

.parameter {
    color: #fd971f;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

nav {
    display: block;
    margin-left: -25px;
}

nav a {
    float: left;
    background-color: #1F1F1F;
    padding: 10px 25px;
}

nav a:hover {
    text-decoration: none;
    background-color: #222222;
}

nav .current-tab {
    background-color: #222222;
    font-weight: bold;
}

#tab-en {
    display: none;
}

#tab-de {
    display: inline;
}

input {
    width: 150px;
    color: #5D90CD;
}

#input-de {
    background-color: #333333;
    border: 2px solid #36649A;
}

#input-en {
    background-color: #333333;
    border: 2px solid #36649A;
}

.run a {
    margin: -42px -25px 0 0;
    padding:10px 25px;
    color: #6C99A9;
    background-color: #1F1F1F;
    float: right;
    text-decoration: none;
}

.run a:hover {
    background-color: #222222;
    font-weight: bold;
}
